POSTGRES_DATABASE_USER=event-store
POSTGRES_DATABASE_PASSWORD=event-store
POSTGRES_DATABASE_HOST=postgres
POSTGRES_DATABASE_NAME=event-store
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=event-store
RABBITMQ_PASSWORD=GDZ8xh6G7F344W3EPz2RLV7hdv2DUZ
RABBITMQ_EXCHANGE_NAME=events
RABBITMQ_EXCHANGE_DURABLE=true
RABBITMQ_QUEUE_NAME=event-store
RABBITMQ_PREFETCH_SIZE=542
REPLAY_TRESHOLD=200000
