[Unit]
Description=Pusher
After=docker.service rabbitmq.service
Requires=docker.service rabbitmq.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker rm -v pusher
ExecStart=/usr/bin/docker run \
  --name pusher \
  --hostname pusher.{{ inventory_hostname }} \
  --net babili \
  --env-file /etc/babili/environments/pusher.env \
  {{ docker_image }}
ExecStop=/usr/bin/docker stop -t 5 pusher

[Install]
WantedBy=multi-user.target
